In [1]:
# Dependencies
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pandas as pd
import tensorflow as tf

In [2]:
# Data
app_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
app_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop unneccessary columns
app_df.drop(columns=['EIN', 'NAME'], inplace=True)
app_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Counting unique values in all columns
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Counting unique values in classification column
class_count = app_df['CLASSIFICATION'].value_counts()
class_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [6]:
# Binning/Bucketing categories in classification column
cutoff = 1000
class_replacing = class_count[class_count <= cutoff].index.tolist()
for classes in class_replacing:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(classes, "Other")

app_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [7]:
# Counting vallues in application type column
app_count = app_df['APPLICATION_TYPE'].value_counts()
app_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Binning/bucketing categorical values in application type column
cutoff = 500
app_replace = app_count[app_count <= cutoff].index.tolist()

for app in app_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

app_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
app_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Encoding remaining categorical values into numerical values
encoded_df = pd.get_dummies(app_df, dtype=int)
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split data into X and y as well as train/test
X = encoded_df.drop(columns='IS_SUCCESSFUL')
y = encoded_df['IS_SUCCESSFUL']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [12]:
# Scaling data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# First Model

In [13]:
# Compile neural network
input_features = len(X_train.columns)
layer_one = 80
layer_two = 30
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(units=layer_one, activation="relu", input_dim=input_features))
model.add(tf.keras.layers.Dense(units=layer_two, activation="relu"))
model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                         â”ƒ Output Shape                â”ƒ         Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                        â”‚ (None, 80)                  â”‚           3,520 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                      â”‚ (None, 30)                  â”‚           2,430 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                      â”‚ (None, 1)                   â”‚              31 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train/fit model
model_fit = model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.6967 - loss: 0.5948
Epoch 2/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7313 - loss: 0.5529
Epoch 3/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7282 - loss: 0.5554
Epoch 4/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7308 - loss: 0.5491
Epoch 5/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7351 - loss: 0.5431
Epoch 6/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7349 - loss: 0.5447
Epoch 7/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7305 - loss: 0.5475
Epoch 8/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7323 - loss: 0.5471
Epoch 9/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7326 - loss: 0.5463
Epoch 10/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7355 - loss: 0.5432
Epoch 11/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7273 - loss: 0.5501
Epoch 12/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7313 - loss: 0.5469
Epoch 13/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7291 - loss: 0.5487
Epoch 14/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7303 - loss: 0.5454
Epoch 15/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7349 - loss: 0.5412
Epoch 16/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7307 - loss: 0.5455
Epoch 17/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7325 - loss: 0.5440
Epoch 18/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7350 - loss: 0.5406
Epoch 19/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7389 - loss: 0.5370
Epoch 20/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7329 - loss: 0.5449
Epoch 21/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7416 - loss: 0.5359
Epoch 22/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7397 - loss: 0.5366
Epoch 23/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7346 - loss: 0.5416
Epoch 24/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7384 - loss: 0.5368
Epoch 25/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7324 - loss: 0.5460
Epoch 26/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7401 - loss: 0.5386
Epoch 27/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7378 - loss: 0.5379
Epoch 28/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7397 - loss: 0.5333
Epoch 29/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7356 - loss: 0.5377
Epoch 30/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7386 - loss: 0.5404
Epoch 31/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7356 - loss: 0.5411
Epoch 32/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7388 - loss: 0.5386
Epoch 33/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7329 - loss: 0.5430
Epoch 34/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7368 - loss: 0.5400
Epoch 35/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7390 - loss: 0.5386
Epoch 36/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7367 - loss: 0.5401
Epoch 37/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.7359 - loss: 0.5413
Epoch 38/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7388 - loss: 0.5368
Epoch 39/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7362 - loss: 0.5395
Epoch 40/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7395 - loss: 0.5349
Epoch 41/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7378 - loss: 0.5356
Epoch 42/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7359 - loss: 0.5407
Epoch 43/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7418 - loss: 0.5338
Epoch 44/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7415 - loss: 0.5346
Epoch 45/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7354 - loss: 0.5376
Epoch 46/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7406 - loss: 0.5362
Epoch 47/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7375 - loss: 0.5387
Epoch 48/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7389 - loss: 0.5349
Epoch 49/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7403 - loss: 0.5362
Epoch 50/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7374 - loss: 0.5387
Epoch 51/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7344 - loss: 0.5401
Epoch 52/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7473 - loss: 0.5302
Epoch 53/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7394 - loss: 0.5381
Epoch 54/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7390 - loss: 0.5365
Epoch 55/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7434 - loss: 0.5280
Epoch 56/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7414 - loss: 0.5323
Epoch 57/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7371 - loss: 0.5374
Epoch 58/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7450 - loss: 0.5307
Epoch 59/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7379 - loss: 0.5384
Epoch 60/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7437 - loss: 0.5318
Epoch 61/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7374 - loss: 0.5364
Epoch 62/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7418 - loss: 0.5324
Epoch 63/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7407 - loss: 0.5340
Epoch 64/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7437 - loss: 0.5297
Epoch 65/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7389 - loss: 0.5323
Epoch 66/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7407 - loss: 0.5324
Epoch 67/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7423 - loss: 0.5334
Epoch 68/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7412 - loss: 0.5344
Epoch 69/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7388 - loss: 0.5331
Epoch 70/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7435 - loss: 0.5316
Epoch 71/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7422 - loss: 0.5356
Epoch 72/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7401 - loss: 0.5344
Epoch 73/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7389 - loss: 0.5338
Epoch 74/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7336 - loss: 0.5396
Epoch 75/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7401 - loss: 0.5373
Epoch 76/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7376 - loss: 0.5347
Epoch 77/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7385 - loss: 0.5367
Epoch 78/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7380 - loss: 0.5339
Epoch 79/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7419 - loss: 0.5330
Epoch 80/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7370 - loss: 0.5391
Epoch 81/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7414 - loss: 0.5337
Epoch 82/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7419 - loss: 0.5334
Epoch 83/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7392 - loss: 0.5347
Epoch 84/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7405 - loss: 0.5336
Epoch 85/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7393 - loss: 0.5354
Epoch 86/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7370 - loss: 0.5378
Epoch 87/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7428 - loss: 0.5305
Epoch 88/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7413 - loss: 0.5312
Epoch 89/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7408 - loss: 0.5325
Epoch 90/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7411 - loss: 0.5314
Epoch 91/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7427 - loss: 0.5282
Epoch 92/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7391 - loss: 0.5367
Epoch 93/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7429 - loss: 0.5316
Epoch 94/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7414 - loss: 0.5306
Epoch 95/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7427 - loss: 0.5319
Epoch 96/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7413 - loss: 0.5336
Epoch 97/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7400 - loss: 0.5320
Epoch 98/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.7366 - loss: 0.5383
Epoch 99/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - accuracy: 0.7412 - loss: 0.5333
Epoch 100/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 2ms/step - accuracy: 0.7368 - loss: 0.5353

In [16]:
# Evaluate
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Accuracy: {model_accuracy}, Loss: {model_loss}")

268/268 - 0s - 2ms/step - accuracy: 0.7297 - loss: 0.5608
Accuracy: 0.72967928647995, Loss: 0.560783326625824

In [17]:
# Save Model
filepath = "AlphabetSoupCharity.keras"
model.save(filepath)